.red{
    background-color: red;
}
.black{
    background-color: black;
}
div{
    padding: 10%;
    margin-left: 5%;
    margin-right: 5%;
}
.gul{
    background-color: yellow;
    padding: 25%;
}
.baggrund{
    background-color: aqua;
}